[submodule "camerad/Instruments/hispec_tracking_camera"]
	path = camerad/Instruments/hispec_tracking_camera
	url = https://github.com/CaltechOpticalObservatories/hispec-tracking-camera-instrument.git
[submodule "camerad/Instruments/deimos"]
	path = camerad/Instruments/deimos
	url = https://github.com/CaltechOpticalObservatories/deimos-instrument.git
[submodule "camerad/Instruments/cryoscope"]
	path = camerad/Instruments/cryoscope
	url = https://github.com/CaltechOpticalObservatories/cryoscope-instrument.git
