# configuration file for camera-server
#
ARCHON_IP=192.168.1.2
ARCHON_PORT=4242
DEFAULT_FIRMWARE=/home/user/Software/acf/kpf-getimage-slot5.acf
EXPOSE_PARAM=Expose               # Archon parameter which triggers exposure
IMDIR=/tmp                        # base directory to save images
BASENAME=image                    # base image filename
NBPORT=3030                       # server non-blocking port
BLKPORT=3031                      # server blocking port
#ASYNCGROUP=239.1.1.234           # asynchronous broadcast group (or "none")
#ASYNCPORT=1234                   # asynchronous message port (if ASYNCGROUP defined)
ASYNCGROUP=none
LOGPATH=/home/user/Logs/          # fully qualified path to save log files
