# configuration file for camera-server
#
ARCHON_IP=10.0.0.2
ARCHON_PORT=4242
DEFAULT_FIRMWARE=/home/hsdev/apps/wdlfiles/src/hispecatc/hispecatc.acf
EXPOSE_PARAM=Expose               # Archon parameter which triggers exposure
ABORT_PARAM=abort                 # Archon parameter to trigger an abort
READOUT_TIME=50000                 # Timeout waiting for new frame (ms) 
WRITE_TAPINFO_TO_FITS=yes          # Tapinfo (gain, offset) be written to FITS headers {yes|no}

IMDIR=/home/hsdev/camera-dev/freedom/images         # base directory to save images
BASENAME=image                    # base image filename

DIRMODE=0077
TM_ZONE_LOG=local                  # time zone for log entries only, can be "UTC" or "local"
TM_ZONE=UTC                        # time zone for everything else, can be "UTC" or "local"
TZ_ENV=PST8PDT,M3.2.0/2,M11.1.0/2  # TZ ENV variable to use when TM_ZONE_* is "local" (follows POSIX standard)
AUTODIR=no
LONGERROR=true

NBPORT=3030                       # server non-blocking port
BLKPORT=3031                      # server blocking port
ASYNCGROUP=239.1.1.234           # asynchronous broadcast group (or "none")
ASYNCPORT=1234                   # asynchronous message port (if ASYNCGROUP defined)
#ASYNCGROUP=none
LOGPATH=/home/hsdev/camera-dev/freedom/logs  # fully qualified path to save log files
#LONGEXPOSURE=True                # exptimes in seconds (not ms)
