# CryoScope configuration for camerad + emulator testing

DAEMON=no
IMDIR=/tmp
LOGPATH=/tmp
BASENAME=cryoscope
DIRMODE=0077
TM_ZONE_LOG=local
TM_ZONE=UTC
TZ_ENV=PST8PDT,M3.2.0/2,M11.1.0/2

NBPORT=3030
BLKPORT=3031
EMULATOR_PORT=3032
EMULATOR_SYSTEM=Config/demo/demo.system

ASYNCGROUP=239.1.1.234
ASYNCPORT=1234

ARCHON_IP=localhost
ARCHON_PORT=3032
DEFAULT_FIRMWARE=Config/cryoscope/cryoscope.acf
ABORT_PARAM=Abort
EXPOSE_PARAM=Expose
EXPTIME_MSEC_PARAM=exptime
READOUT_TIME=10000
WRITE_TAPINFO_TO_FITS=no
